body {
   margin-top: 50px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   font-family: 'Quicksand',
   sans-serif;
   background-color: #9dccdb;
}

#dropzone{
   border: 2px solid black;
   padding: 24px;
   border-radius: 5px;
   font-size: 20px;
   font-weight: 600;
   text-align: center;
   width: 200px;
   box-shadow: 10px 10px 22px 0px rgba(0, 0, 0, 0.75);
}

img {
 width: 400px;
 border-radius: 5px;
 margin-bottom: 10px;
 box-shadow: 10px 10px 22px 0px rgba(0, 0, 0, 0.75);
}

#middleinfo {
   border: 2px solid black;
   border-radius: 5px;
   box-shadow: 10px 10px 22px 0px rgba(0, 0, 0, 0.75);
   padding-bottom: 20px;
   visibility: hidden;
}

#data {
   text-align: center;
   width: 600px;
   font-size: 32px;
}

#data2 {
   text-align: center;
   width: 600px;
   font-size: 22px;
   margin: 0;
}

#data3 {
   text-align: center;
   width: 600px;
   font-size: 22px;
   margin: 0;
}

